.header{
    height: 50px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    height: 40px;
    width: 90px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}